<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: head}"></th:block>
<body>
<th:block th:replace="~{layout :: navbar}"></th:block>

<div id="layoutSidenav">
    <th:block th:replace="~{layout :: sidenav}"></th:block>

    <div id="layoutSidenav_content">
        <div th:fragment="content">
            <!-- ONLY REPLACE HERE -->
            <div class="container-fluid px-4">

                <h1 class="mt-4">Accounts</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ol>
                    <div class="card mb-4">

                        <div class="card-header d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fas fa-table me-1"></i>
                                account's table
                            </div>
                            <div>
                                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addAccountModal">
                                    <i class="fas fa-plus"></i> Add Account
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th>RIB</th>
                                    <th>Balance</th>
                                    <th>Client</th>
                                    <th>Cin</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${bankAccounts}" th:id="${'account-' + account.rib}">
                                    <td th:text="${account.rib}">RIB</td>
                                    <td th:text="${account.balance}">balance</td>
                                    <!-- Combine first name and last name into a single "Client" cell -->
                                    <td th:text="${account.client.firstName + ' ' + account.client.lastName}">Client Name</td>
                                    <td th:text="${account.client.cin}">Cin</td>
                                    <td>
                                        <!-- Button to open the edit modal -->
                                        <button type="button" class="btn btn-primary btn-sm editButton" data-bs-toggle="modal" data-bs-target="#editAccountModal">
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                        <!-- Delete button -->
                                        <button type="button" class="btn btn-danger btn-sm deleteButton" th:onclick="'deleteAccount(\'' + ${account.rib} + '\');'">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            <!-- END REPLACE HERE -->
        </div>
        <th:block th:replace="~{layout :: footer}"></th:block>
    </div>
</div>

<!-- Modal for editing an account -->
<div class="modal fade" id="editAccountModal" tabindex="-1" aria-labelledby="editAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAccountModalLabel">Edit Bank Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal body where input fields are located -->
            <div class="modal-body">
                <!-- Readonly input to display the account RIB -->
                <div class="mb-3">
                    <label for="editRIB" class="form-label">RIB:</label>
                    <input type="text" id="editRIB" name="rib" class="form-control" disabled  />
                </div>
                <div class="mb-3">
                    <label for="editbalance" class="form-label">balance:</label>
                    <input type="number" id="editbalance" name="balance" class="form-control" />
                </div>
                <!-- Combined Client Name field -->
                <div class="mb-3">
                    <label for="editClient" class="form-label">Client:</label>
                    <input type="text" id="editClient" name="client" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="editCin" class="form-label">CIN:</label>
                    <input type="text" id="editCin" name="cin" class="form-control" disabled />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveAccountChangesButton">Save changes</button>
            </div>
        </div>
    </div>
</div>



<!-- Add Account Modal -->
<div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAccountModalLabel">Add New Bank Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Start of form -->
            <form action="/accounts/save" method="post">
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="newBalance" class="form-label">Balance:</label>
                        <input type="number" id="newBalance" name="balance" class="form-control" required />
                    </div>
                    <!-- Client select dropdown -->
                    <div class="mb-3">
                        <label for="client" class="form-label">Client:</label>
                        <input type="text" id="client" class="form-control" required />
                        <input type="text" id="client-id" name="cin" hidden />
                    </div>
                    <!-- Other form fields can be added here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <!-- Submit button to post the form -->
                    <button type="submit" class="btn btn-primary">Add Account</button>
                </div>
            </form>
            <!-- End of form -->
        </div>
    </div>
</div>





<th:block th:replace="~{layout :: scripts}"></th:block>
</body>
</html>