<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: head}"></th:block>
<body>
<th:block th:replace="~{layout :: navbar}"></th:block>

<div id="layoutSidenav">
    <th:block th:replace="~{layout :: sidenav}"></th:block>

    <div id="layoutSidenav_content">
        <div th:fragment="content">
            <!-- ONLY REPLACE HERE -->
            <div class="container-fluid px-4">
                <h1 class="mt-4">Clients</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><i class="fa-solid fa-gauge-high"></i> Dashboard</li>
                    <li class="breadcrumb-item active"><i class="fa-solid fa-users"></i> Clients</li>
                </ol>
                <div class="alert alert-danger" th:if="${errorMessages}">
                    <ul>
                        <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
                    </ul>
                </div>
                <div class="card mb-4" id="table">
                    <div class="card-header d-flex justify-content-end">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-client-modal"><i class="fa-solid fa-plus"></i> Add Client</button>
                    </div>
                    <div class="card-body">
                        <table id="clients-table">
                            <thead>
                            <tr>
                                <th>CIN</th>
                                <th>Full Name</th>
                                <th>Address</th>
                                <th>Number of Accounts</th>
                                <th>Total Balance</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>CIN</th>
                                <th>Full Name</th>
                                <th>Address</th>
                                <th>Number of Accounts</th>
                                <th>Total Balance</th>
                            </tr>
                            </tfoot>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END REPLACE HERE -->
        </div>
        <th:block th:replace="~{layout :: footer}"></th:block>
    </div>
</div>
<div class="modal fade" id="add-client-modal" tabindex="-1" aria-labelledby="addClientModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/clients/save}" method="POST">
                <div class="modal-body">
                        <div class="mb-3">
                            <label for="FirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="FirstName" name="firstName">
                        </div>
                        <div class="mb-3">
                            <label for="LastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="LastName" name="lastName">
                        </div>
                        <div class="mb-3">
                            <label for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="Address" name="address">
                        </div>
                        <div class="mb-3">
                            <label for="CIN" class="form-label">CIN</label>
                            <input type="text" class="form-control" id="CIN" name="cin">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Client</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-client-modal" tabindex="-1" aria-labelledby="editClientModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="edit-first-name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="edit-first-name" name="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="edit-last-name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="edit-last-name" name="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="edit-address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="edit-address" name="address">
                    </div>
                    <div class="mb-3">
                        <label for="edit-cin" class="form-label">CIN</label>
                        <input type="text" class="form-control" id="edit-cin" name="cin" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="edit-client-button">Edit Client</button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="~{layout :: scripts}"></th:block>
</body>
</html>